body {
    background-color: #ddd;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 30px auto 0;
    background-color: #fff;
}

.weather-info {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    padding: 40px 90px 0 93px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    font-size: 130px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.button {
    background-color: rgba(174, 181, 185, 0.5);
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 44px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(76, 82, 85, 0.4);
}

.active {
    background-color: rgba(76, 82, 85, 0.4);
}

.weather-info__top-panel {
    height: 44px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 57px;
}

.weather-info__top-panel_left {
    width: 223px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
}

.weather-info__top-panel-switch-image {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background: rgba(174, 181, 185, 0.5) url('../images/change_icon.png') no-repeat 50% 50%;
}

.weather-info__top-panel-switch-language {
    width: 71px;
    height: 44px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
}

.weather-info__top-panel-switch-language::after {
    content: "";
    width: 10px;
    height: 10px;
    box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.4);;
    transform: rotate(-135deg) scale(0.73);
    position: absolute;
    top: 19px;
    right: 12px;
    z-index: 1;
}

.weather-info__top-panel-switch-language:not(.clicked):after {
    content: "";
    width: 10px;
    height: 10px;
    box-shadow: 2px 2px 0 0 rgba(255, 255, 255, 0.4);;
    transform: rotate(45deg) scale(0.73);
    position: absolute;
    top: 11px;
    right: 12px;
    z-index: 1;
}

.weather-info__top-panel-switch-temperature {
    width: 88px;
    height: 44px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.weather-info__top-panel-switch-temperature_celsius {
    width: 44px;
    height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.weather-info__top-panel-switch-temperature_fahrenheit {
    height: 44px;
    width: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.weather-info__top-panel_right {
    width: 375px;
    height: 44px;
    display: flex;
    flex-wrap: wrap;
}

.weather-info__top-panel-search {
    width: 274px;
    height: 44px;
    box-sizing: border-box;
    font-size: 20px;
    padding-left: 30px;
    opacity: 0.5;
}

.weather-info__top-panel-submit {
    height: 44px;
    width: 101px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.weather-info__forecast-block {
    max-width: 600px;
    width: 100%;
    height: 600px;
}

.weather-info__forecast-block-location-name {
    color: #fff;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.weather-info__forecast-block-date-time {
    height: 29px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.weather-info__forecast-block-date-time_date {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-right: 20px;
}

.weather-info__forecast-block-date-time_time {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.weather-info__forecast-block-weather-info {
    height: 375px;
    display: flex;
    flex-wrap: wrap;
}

.weather-info__forecast-block-weather-info_temperature {
    height: 375px;
    width: 330px;
    font-weight: bold;
    font-size: 240px;
    line-height: 375px;
    text-transform: uppercase;
    color: #fff;
}

.weather-info__forecast-block-weather-info_forecast {
    width: 270px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
}

.weather-info__forecast-block-weather-info_summary {
    margin-top: 50px;
}

.weather-info__forecast-block-weather-info_summary,
.weather-info__forecast-block-weather-info_feels,
.weather-info__forecast-block-weather-info_wind,
.weather-info__forecast-block-weather-info_humidity {
    margin-left: 90px;
}

.weather-info__forecast-block-weather-info_next-days {
    width: 100%;
    height: 108px;
    display: flex;
    flex-wrap: wrap;
}

.weather-info__forecast-block-weather-info_next-day {
    width: 30%;
    height: 108px;
    color: #fff;
}

.weather-info__forecast-block-weather-info_next-day:nth-child(2),
.weather-info__forecast-block-weather-info_next-day:nth-child(3) {
    margin-left: 5%;
}

.weather-info__forecast-block-weather-info_next-day-name {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
}

.weather-info__forecast-block-weather-info_next-day-temperature {
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    display: inline-block;
    width: 45%;
}

.weather-info__forecast-block-weather-info_next-day > .icon {
    font-size: 50px;
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
}

.weather-info__map-block {
    margin-top: 80px;
}

.weather-info__map-block_map {
    height: 400px;
    width: 400px;
    border-radius: 30px;

    background-color: lightsalmon;
}

.weather-info__map-block_latitude {
    margin-top: 25px;
}

.weather-info__map-block_latitude,
.weather-info__map-block_longitude {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
}
